.slider-wrapper {
	width: 100%;
	height: 330px;
	position: relative;
}
.clear {
	clear: both;
}
.nivoSlider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
	height: 330px;
}
.nivo-main-image {
	display: block;
	position: relative;
	width: 100%;
	height: 330px;
}
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
	background: white;
	filter: alpha(opacity=0);
	opacity: 0;
}
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	top: 0;
	height: 330px;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	height: 330px;
}
.nivo-box img {
	display: block;
}
.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: rgba(0,0,0, 0.3);
	color: #fff;
	width: 100%;
	z-index: 8;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-caption a {
	text-decoration: none;
}
.nivo-html-caption {
	display: none;
}
.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}
.nivo-controlNav {
	text-align: center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
