html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    line-height: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: #FFFFFF;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
.group:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
}
a {
    color: #3FA7F3;
}
a:hover {
    color: #EB1C24;
}
header, section, footer {
    margin: 0 auto;
    margin-top: 16px;
    min-width: 960px;
    max-width: 1440px;
    width: 95%;
}
.header .left, .section .left {
    float: left;
    width: 20%;
}
.header .center, .section .center {
    float: left;
    width: 60%;
}
.section .center-inner {
    float: left;
    width: 80%;
}
.header .right, .section .right {
    float: right;
    width: 20%;
}
.wrapper {
    padding-right: 30px;
    padding-left: 30px;
}
.wrapper-inner {
    padding-left: 30px;
}
.inner-content h2 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 21px;
}
.inner-content h3 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 18px;
}
.inner-content p {
    margin-bottom: 16px;
}
.inner-content ul, .inner-content ol {
    margin-bottom: 16px;
    margin-left: 36px;
}
.inner-content ul li, .inner-content ol li {
    margin-bottom: 16px;
}
.section {
    position: relative;
    padding-bottom: 64px;
}
.logo span {
    display: block;
    color: #4D4D4D;
    font-weight: normal;
    font-size: 14px;
}
.wrapper-inner h1 {
    margin-bottom: 32px;
    padding-top: 16px;
    font-weight: normal;
    font-size: 32px;
}
.tabs-1, .tabs-2, .tabs-3 {
    z-index: 10;
    padding: 1em 1.4em;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    color: #FFF;
}
#tabs1 p {
    line-height: 21px;
}
#tabs1 strong {
    font-size: 16px;
}
#tabs1 a {
    color: #FFF;
}
#tabs1 a:hover {
    color: #666;
}
#tabs1 ul {
    padding: .2em .6em 0;
}
#tabs1 ul li {
    width: 48px;
    height: 32px;
    text-align: center;
}
#tabs1 ul li:first-child {
    border-radius: 5px 0 0 0;
    background: #95d450;
}
#tabs1 ul li:nth-child(2) {
    background: #ff9f38;
}
#tabs1 ul li:last-child {
    border-radius: 0 5px 0 0;
    background: #00b7ea;
}
#tabs2 {
    margin-top: 40px;
}
#tabs2 ul li {
    margin-right: 3em;
    box-shadow: 0 0 5px rgba(0,0,0, 0.4);
}
#tabs2 ul li a {
    padding-right: 16px;
    padding-left: 16px;
    color: #FFFFFF;
}
#tabs2 h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 24px;
}
#tabs2 p {
    margin-bottom: 16px;
}
.ui-tabs-panel ul, .ui-tabs-panel ol {
    margin-left: 48px;
    margin-bottom: 16px;
}
.ui-tabs-panel ul li{
    background: none !important;
    box-shadow: none !important;
}
.content {
    overflow: auto;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 330px;
    background: #FFF;
}
.products {
    position: relative;
    top: 0;
    width: 141%;
}
.products h2 {
    margin-top: 58px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
}
.catalog-list {
    width: 101%;
}
.catalog-list li {
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: 5%;
    margin-right: 2%;
    width: 23%;
    height: 240px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.4);
    list-style: none;
}
.catalog-list li div.picture {
    overflow: hidden;
    height: 150px;
}
.catalog-list li h3 {
    margin-top: 10px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
}
.catalog-list li:nth-child(4) {
    margin-right: 0;
}
.catalog-list li div.price {
    position: absolute;
    bottom: 0;
    z-index: 15;
    overflow: hidden;
    width: 100%;
    height: 30px;
    color: #FFF;
    line-height: 30px;
}
.catalog-list li div.price a {
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.catalog-list li div.price a span {
    display: block;
    width: 100%;
    height: 30px;
    background: rgba(255,255,255, 0);
    line-height: 30px;
    transition-duration: 500ms;
    transition-property: background;
}
.catalog-list li div.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 150px;
    background: rgba(255,255,255, 0);
    text-indent: -9999px;
    transition-duration: 500ms;
    transition-property: background;
}
.catalog-list li div.hover a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 150px;
    color: #FFF;
    text-decoration: none;
}
.catalog-list li div.hover span {
    display: block;
    margin: 0 auto;
    margin-top: 65px;
    padding: 7px;
    width: 70%;
    border-radius: 5px;
    text-align: center;
}
.catalog-list li div.picture:hover div.hover span {
    background: rgba(0,0,0, 0.6);
    color: #FFF;
    text-indent: 0;
    transition-duration: 500ms;
    transition-property: background;
}
.catalog-list li div.picture:hover div.hover {
    background: rgba(255,255,255, 0.5);
    cursor: pointer;
}
.index-content {
    width: 137%;
}
.index-content h3 {
    margin-top: 58px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 50px;
}
.index-content p {
    margin-top: 16px;
}
.b-share {
    margin-bottom: 12px !important;
}
.quick {
    width: 530px;
}
.quick table {
    margin-top: 10px;
    width: 530px;
    border-collapse: collapse;
}
.quick h3 {
    margin-bottom: 10px;
    width: 530px;
    font-weight: normal;
    font-size: 18px;
}
.quick p.articul {
    margin-bottom: 14px;
    width: 530px;
    color: #666;
}
.quick-link {
    margin-top: 5px;
    width: 90%;
}
.quick-link a {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    color: #FFF;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    line-height: 42px;
    transition-duration: 500ms;
    transition-property: background;
}
.quick .price {
    margin-top: 20px;
    color: #eb1c24;
    font-size: 18px;
}
.img-quick {
    overflow: hidden;
    width: 530px;
}
.search-page input[type="text"] {
    margin-top: 5px;
    padding: 0 5px 0 5px;
    width: 300px;
    height: 28px;
    border: 1px #999999 solid;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    line-height: 28px;
}
.search-page-input {
    float: left;
}
.search-page-submit {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 180px;
    height: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.search-page-submit span {
    display: block;
    background: rgba(255, 255, 255, 0);
    transition-duration: 500ms;
    transition-property: background;
}
.search-page input[type="submit"] {
    padding-bottom: 1px;
    width: 100%;
    height: 30px;
    background: none;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}
.search-result {
    clear: both;
    padding-top: 16px;
}
.search-item {
    margin-bottom: 21px;
}
.search-item h4, .search-item h4 a {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 21px;
}
footer {
    padding-bottom: 34px;
    border-top: 1px #999999 solid;
}
footer nav {
    margin-top: 32px;
    margin-bottom: 32px;
}
footer nav ul {
    margin: 0 auto;
    width: 720px;
}
footer nav ul li {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
    text-align: center;
}
footer nav ul li:last-child {
    padding-right: 0;
}
footer nav ul li:first-child {
    padding-left: 0;
}
footer nav ul li a {
}
footer p {
    margin-top: 10px;
    text-align: center;
}
.mfeedback {
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
}
.mfeedback h2 {
    font-weight: normal;
}
.mfeedback form {
    margin-top: 16px;
}
.input-text {
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 5px;
    width: 300px;
    height: 38px;
    border: 1px #ccc solid;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    line-height: 38px;
    line-height: normal;
}
.input-text:focus, .textarea-textarea:focus {
    border: 1px #000 solid;
}
.textarea-textarea {
    margin-top: 7px;
    padding: 5px;
    width: 300px;
    height: 200px;
    border: 1px #ccc solid;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
.mfeedback-submit-submit {
    margin-top: 20px;
    width: 140px;
    height: 38px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.mfeedback-submit-submit span {
    display: block;
    background: rgba(255, 255, 255, 0);
    transition-duration: 500ms;
    transition-property: background;
}
.submit-submit {
    width: 100%;
    height: 38px;
    background: none;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-family: Verdana, sans-serif;
    line-height: 38px;
    cursor: pointer;
}
span.mf-req {
    color: red;
}
div.mf-ok-text {
    padding-bottom: 1em;
    color: green;
    font-weight: bold;
}
#blue, .horizontal-menu ul, .tabs-3 {
    background: #00b7ea;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZmE3ZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #00b7ea 0%, #3fa7f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #3fa7f3));
    background: -webkit-linear-gradient(top, #00b7ea 0%, #3fa7f3 100%);
    background: -o-linear-gradient(top, #00b7ea 0%, #3fa7f3 100%);
    background: -ms-linear-gradient(top, #00b7ea 0%, #3fa7f3 100%);
    background: linear-gradient(to bottom, #00b7ea 0%, #3fa7f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#3fa7f3', GradientType=0 );
}
#green, .login-menu ul li, .login-menu-2 ul li, .tabs-1 {
    background: #95d450;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1ZDQ1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NmI5NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #95d450 0%, #56b948 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95d450), color-stop(100%, #56b948));
    background: -webkit-linear-gradient(top, #95d450 0%, #56b948 100%);
    background: -o-linear-gradient(top, #95d450 0%, #56b948 100%);
    background: -ms-linear-gradient(top, #95d450 0%, #56b948 100%);
    background: linear-gradient(to bottom, #95d450 0%, #56b948 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d450', endColorstr='#56b948', GradientType=0 );
}
#red, .cart, .catalog-list li div.price, .catalog-section li div.price, .quick-link, .theme-default .capdiv, .header-form-submit, .registarton-submit, .authorize-submit, .bform-submit, .search-page-submit, .mfeedback-submit-submit, .sort_group a {
    background: #eb1c24;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViMWMyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #eb1c24 0%, #cc0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb1c24), color-stop(100%, #cc0000));
    background: -webkit-linear-gradient(top, #eb1c24 0%, #cc0000 100%);
    background: -o-linear-gradient(top, #eb1c24 0%, #cc0000 100%);
    background: -ms-linear-gradient(top, #eb1c24 0%, #cc0000 100%);
    background: linear-gradient(to bottom, #eb1c24 0%, #cc0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1c24', endColorstr='#cc0000', GradientType=0 );
}
#orange, .tabs-2 {
    background: #ff9f38;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWYzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjhjMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ff9f38 0%, #ff8c11 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9f38), color-stop(100%, #ff8c11));
    background: -webkit-linear-gradient(top, #ff9f38 0%, #ff8c11 100%);
    background: -o-linear-gradient(top, #ff9f38 0%, #ff8c11 100%);
    background: -ms-linear-gradient(top, #ff9f38 0%, #ff8c11 100%);
    background: linear-gradient(to bottom, #ff9f38 0%, #ff8c11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f38', endColorstr='#ff8c11', GradientType=0 );
}
#orange-dark, #tabs2 ul li {
    background: #ff670f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNjcwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY3MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ff670f 0%, #ff670f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff670f), color-stop(100%, #ff670f));
    background: -webkit-linear-gradient(top, #ff670f 0%, #ff670f 100%);
    background: -o-linear-gradient(top, #ff670f 0%, #ff670f 100%);
    background: -ms-linear-gradient(top, #ff670f 0%, #ff670f 100%);
    background: linear-gradient(to bottom, #ff670f 0%, #ff670f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f', GradientType=0 );
}
#green-light, .catalog-element .right-block ul.price-block {
    background: #b4df5b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGY1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGRmNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b4df5b 0%, #b4df5b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4df5b), color-stop(100%, #b4df5b));
    background: -webkit-linear-gradient(top, #b4df5b 0%, #b4df5b 100%);
    background: -o-linear-gradient(top, #b4df5b 0%, #b4df5b 100%);
    background: -ms-linear-gradient(top, #b4df5b 0%, #b4df5b 100%);
    background: linear-gradient(to bottom, #b4df5b 0%, #b4df5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b', GradientType=0 );
}
.horizontal-menu ul li a:hover, .login-menu ul li a:hover, .login-menu-2 ul li a:hover, .header .cart a:hover, .quick-link a:hover, .nivo-caption a:hover, .header-form-submit:hover span, .catalog-list li div.price a:hover span, .catalog-section li div.price a:hover span, .catalog-element .right-block ul.price-block li.bay a:hover, .catalog-element .right-block ul.price-block li.quick-bay a:hover, .left-menu ul li a:hover, .registarton-submit:hover span, .authorize-submit:hover span, .bform-submit:hover span, .search-page-submit:hover span, .mfeedback-submit-submit:hover span, .sort_group a:hover span {
    background: rgba(255, 255, 255, 0.5);
    transition-duration: 500ms;
    transition-property: background;
}
.sort_group {
    margin: 0 0 30px 0; 
}
.sorttext {
    margin-bottom: 14px;
}
.sort_group a {
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.sort_group a span {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: rgba(255,255,255, 0);
    transition-duration: 500ms;
    transition-property: background;
}
.pro {
    overflow: hidden;
    margin-top: 36px;
    text-align: center;
}
